/*
 * Firefox userstyles customizations
 * ~/.mozilla/firefox/release/chrome/userContent.css
 *
 */

/* Remove Payment Warning on Github */
@-moz-document domain('github.com') {
	header ~ .flash.flash-full.js-notice.flash-warn {
		display: none;
	}
}

/* Clean Up All Stack Overflow Sites */
@-moz-document
	domain('stackoverflow.com'),
	domain('stackexchange.com'),
	domain('superuser.com'),
	domain('mathoverflow.com'),
	domain('serverfault.com'),
	domain('askubuntu.com'),
	domain('stackapps.com')
{
	.js-dismissable-hero,                   /* Top Banner */
	#announcement-banner,                   /* Top Banner */
	.js-zone-container.zone-container-main, /* Ads */
	#left-sidebar,                          /* Left Sidebar */
	#sidebar .s-sidebarwidget__yellow,      /* Right Sidebar Yellow Boxes */
	#hot-network-questions,                 /* Right Sidebar - Hot Network Questions */
	.js-consent-banner                      /* GDPR Popup */
	{
		display: none;
	}
	
}

/* Consent Banners / GDPR Popups */
.js-consent-banner,
#onetrust-consent-sdk {
	display: none;
}
