/*
 * Firefox window customizations
 * ~/.mozilla/firefox/release/chrome/userChrome.css
 *
 * Update these settings in about:config for this to work:
 *  - toolkit.legacyUserProfileCustomizations.stylesheets true
 *  - browser.tabs.tabMinWidth 0
 */

/*
#titlebar - Title/Tabs Bar
#nav-bar - Nav/Address Bar
#PersonalToolbar - Bookmarks Bar
#navigator-toolbox - Nav Bar, Title Bar, and Bookmarks Bar
*/

/* Remove status bar */
/* #statuspanel-label {
	display: none;
} */

/* Remove Title and Nav Bar and Bookmarks Bar*/
/* #navigator-toolbox {
	visibility: collapse;
} */

/* Make Infinite Tabs */
.tabbrowser-tab {
	min-width: 0 !important;
}
.tab-content:not([pinned]) {
	overflow: hidden !important;
}

/* Remove all tab close (x) buttons */
#TabsToolbar image.tab-close-button.close-icon {
	display: none;
}

/* Remove top-left window dragging area */
.titlebar-spacer[type="pre-tabs"] {
	display: none !important;
	width: 0px !important;
	max-width: 0px !important;
}

/* Lower bookmark menu font size */
toolbarbutton.bookmark-item {
	font-size:10px !important;
}

/* Tighten up drop-down/context/popup menu spacing */
menupopup > menuitem, menupopup > menu {
	padding-block: 2px !important;
}
:root {
	--arrowpanel-menuitem-padding: 2px 8px !important;
}

/* Remove private browsing window label */
#private-browsing-indicator-with-label > label {
	display: none;
}
