/*
 * Firefox userstyles customizations
 * ~/.mozilla/firefox/release/chrome/userContent.css
 *
 */

/* Remove Payment Warning on Github */
@-moz-document domain('github.com') {
	header.Header.js-details-container.Details + .flash.flash-full.js-notice.flash-warn {
		display: none;
	}
}

/* Stack overflow, etc. */
@-moz-document
	domain('stackoverflow.com'),
	domain('stackexchange.com'),
	domain('superuser.com'),
	domain('mathoverflow.com'),
	domain('serverfault.com'),
	domain('askubuntu.com'),
	domain('stackapps.com')
{
	#left-sidebar,
	#sidebar .s-sidebarwidget__yellow,
	#hot-network-questions,
	.js-consent-banner {
		display: none;
	}
	
}

/* Consent Banners */
.js-consent-banner,
#onetrust-consent-sdk {
	display: none;
}
